.content {
  justify-content: flex-end;
}

#four-0-four {
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  right: 0px;
  top: calc(77px + 8vh);
  z-index: 0;
}

.content {
  z-index: -1;
}

button.gradient, .footer-container {
  background: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%) !important;
  background: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%) !important;
  background: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%) !important;
}

@media (max-height: 720px) and (max-width: 400px) {
  #four-0-four {
    top: calc(77px + 2vh);
  }
  .splash {
    padding-bottom: 0px;
  }
}
