.hero-container {
  background: rgb(102,0,255);
  background: -moz-linear-gradient(166deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: -webkit-linear-gradient(166deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: linear-gradient(166deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6600ff",endColorstr="#ffcc00",GradientType=1);
  position: fixed;
  z-index: 1;
}

.hero-padding {
  width: 100vw;
  height: 120px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,204,0,1) 1%, rgba(255,204,0,0) 80%);
  background: -webkit-linear-gradient(0deg, rgba(255,204,0,1) 1%, rgba(255,204,0,0) 80%);
  background: linear-gradient(0deg, rgba(255,102,0,1) 1%, rgba(255,102,0,0) 80%);
}

.hero {
  height: 320px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.6);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.hero > .header {
  position: relative;
  background: transparent;
}

.hero > .header > a > h1 {
  color: white;
}

.hero > .header > a > button {
  background: rgba(255,255,255,0.3);
}

.content {
  top: 220px;
  width: 100vw;
  background: white;
  border-radius: 44px;
  box-shadow: 0px 0px 44px rgba(0,0,0,0.06);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  padding-top: 14px;
  padding-bottom: 100px;
  min-height: calc(100vh - 220px);
}

.balance-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  height: 144px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
}

.balance-container > h1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 76px;
  line-height: 76px;
  font-weight: 700;
  margin: 0px;
  margin-top: 2px;
}

.balance-container > h1 > span.small {
  font-family: 'Urbanist', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  vertical-align: super;
  margin-left: -13px;
}

.balance-container > h1 > span#dollar-sign {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-left: 0px;
  margin-right: -15px;
  color: rgba(255,255,255,0.6);
}

.balance-container > h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
}

.balance-container > h3 > b {
  font-weight: 700;
  font-size: 12px;
  vertical-align: middle;
  background: rgba(255,255,255,0.3);
  color: white;
  padding: 3px 6px;
  border-radius: 7px;
  margin-left: 1px;
}

.content > h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  font-weight: 700;
  text-align: left;
}

.content > h3 > .light {
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-left: 4px;
}

.content > input[type=range] {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
}

.dollar-subtitle.bounds.bottom {
  margin-top: 0px;
}

.bounds {
  align-items: flex-end;
}

.toolbar-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  background: white;
  z-index: 3;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  overflow: hidden;
  box-shadow: 0px 0px 8px white;
}

.toolbar {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  padding: 18px 0px;
}

.toolbar > a > img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 1;
  transition: opacity linear 0.1s;
  -webkit-transition: opacity linear 0.1s;
}

.toolbar > a > img:active {
  opacity: 0.8;
}

.toolbar > a.disabled {
  opacity: 0.4;
}

#schedule-button {
  margin: 12px 0px;
}

#grab-handle {
  position: absolute;
  z-index: 3;
  background: black;
  box-sizing: border-box;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  top: 228px;
  left: calc(50vw - 30px);
  opacity: 0.16;
}

.wakeup-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.wakeup-container > p {
  font-family: 'Open Sans', sans-serif;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  margin: 0px;
}

.wakeup-container > p > a {
  font-weight: 600;
  border-bottom: 3px solid #dfe3e7;
  padding-bottom: 0px;
  border-radius: 3px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  cursor: pointer;
}

#buffer {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  height: 24px;
  box-sizing: border-box;
  background: transparent;
}

.earnings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-direction: row;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
}

.earnings-container > h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.earnings-container > p > span.button {
  font-weight: 700;
  font-size: 12px;
  vertical-align: middle;
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 3px 6px;
  border-radius: 7px;
  margin-left: 4px;
  cursor: pointer;
}

.earnings-container > p > span.button.active {
  background: rgba(0,0,0,1);
}

body.safari-toolbars-hidden > .toolbar-container {
  padding-bottom: 0px;
}

@supports not ( -moz-appearance:none ) {
  .content {
    backdrop-filter: blur(20px) saturate(110%) !important;
    -webkit-backdrop-filter: blur(20px) saturate(110%) !important;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 400px);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 400px);
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 400px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  }
}
