.content {
  top: 360px;
  padding-top: 160px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 200px);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 200px);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 200px);
}

#phone-in-hand {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding-top: 100px;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#phone-in-hand > img {
  width: 600px;
}

#screen-blocker {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 102px;
  box-sizing: border-box;
  background: white;
  top: 0px;
  left: 0px;
  z-index: -2;
}

#screenshot {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  padding-top: 87px;
  top: 0px;
  left: 0px;
  z-index: -3;
}

#screenshot, .phone-blocker {
  will-change: transform;
}

#screenshot > img {
  width: 136px;
}

.bounds > small {
  z-index: 0;
}

.gradient-box {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  padding: 36px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(102,0,255);
  background: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6600ff",endColorstr="#ffcc00",GradientType=1);
  -moz-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  border-radius: 20.5px;
  overflow: hidden;
}

.gradient-box > h1 {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  box-sizing: border-box;
  padding: 0px 36px;
  color: white;
  font-size: 55px;
  line-height: 52px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  margin: 0px;
}

.gradient-box > h3 {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  box-sizing: border-box;
  padding: 0px 36px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  margin-top: 20px;
  color: rgba(255,255,255,0.6);
}

#schedule-phone {
  width: 256px;
  margin-bottom: -160px;
  margin-top: 20px;
  will-change: transform;
}

.phone-block {
  will-change: transform;
}

.clear-box {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  padding: 36px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clear-box > div {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

#photo-text {
  background-image: url("../assets/images/shower.jpeg");
  background-size: contain;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: initial;
  background-attachment: fixed;
  line-height: 60px;
}


.clear-box > div > div.buffer {
  width: 100vw;
  height: 200px;
  transform: translateY(-200px);
  margin-bottom: -200px;
  box-sizing: border-box;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 200px);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 200px);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 200px);
}

#photo-verification-hand-1 {
  width: 800px;
  margin-bottom: -100px;
}

#photo-verification-hand-2 {
  width: 800px;
  transform: translateY(-400px);
  margin-bottom: -720px;
  will-change: transform;
}

#paid-phone {
  width: 256px;
  margin-bottom: -60px;
  margin-top: 20px;
}
