html, body {
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  color: black;
  width: 100vw;
  background: white;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
}

.header {
  width: 100vw;
  box-sizing: border-box;
  background: white;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 18px 30px;
  min-height: 77px;
  z-index: 999;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: opacity linear 0.1s;
  -webkit-transition: opacity linear 0.1s;
}

.logo:active {
  opacity: 0.8;
}

.logo > #sun {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.logo > h1 {
  margin: 0px;
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.content {
  position: absolute;
  top: 17vh;
  left: 0px;
  min-height: 83vh;
  box-sizing: border-box;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
}

.splash {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  padding-bottom: 10vmin;
}

.splash > h1 {
  font-size: 55px;
  line-height: 52px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  margin: 0px;
}

.splash > h3 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  margin-top: 20px;
}

button {
  border-radius: 100px;
  outline: none;
  border: none;
  background: black;
  background-color: black;
  color: white;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  font-family: 'Urbanist', sans-serif;
  padding: 13px 32px;
  margin: 0px;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity linear 0.1s;
  -webkit-transition: opacity linear 0.1s;
  cursor: pointer !important;
}

button.gradient {
  background: rgb(102,0,255);
  background: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6600ff",endColorstr="#ffcc00",GradientType=1);
  -moz-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
}

button.transparent {
  background: transparent;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
}

button:active {
  opacity: 0.8;
}


.bounds {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: -10px;
}

.bounds.range {
  margin-top: -10px;
}

.bounds > h1 {
  font-family: 'Urbanist';
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 12px;
}

.bounds > small {
  font-family: 'Urbanist', sans-serif;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 14px;
  z-index: -1;
  margin: 0px;
}

.slider {
  margin-top: 16px !important;
}

.dollar-sign {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 30px;
  vertical-align: super;
  margin-right: -13px;
}

.middle {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

p.legal {
  font-family: 'Urbanist', sans-serif;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 12px;
  text-align: center;
}

p.legal > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.cents {
  font-family: 'Urbanist', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 30px;
  vertical-align: super;
  margin-left: -13px;
}

::selection {
  color: white;
  background: rgba(102,0,255,1);
}
::-moz-selection {
  color: white;
  background: rgba(102,0,255,1);
}

.footer-container {
  background: rgb(102,0,255);
  background: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6600ff",endColorstr="#ffcc00",GradientType=1);
  width: 100vw;
  box-sizing: border-box;
  z-index: 100;
}

.footer {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 18px 30px;
  padding-top: 12vh;
}

.footer > div.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer > p, .footer > div.wrapper > a {
  font-size: 14px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  color: rgba(0,0,0,0.4) !important;
  text-decoration: none;
  padding: 12px;
  margin: 0px;
}

.estimate-info {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  height: 0px;
  margin-top: -38px;
  margin-bottom: 27px;
  padding-right: 1px;
  box-sizing: border-box;
  overflow: visible;
}

.estimate-info > img {
  width: 16px;
  height: 16px;
  opacity: 0.4;
  float: right;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity linear 0.1s;
  -webkit-transition: opacity linear 0.1s;
}

.estimate-info > img:active {
  opacity: 0.3;
}

#roughly {
  opacity: 0.4;
}

button.loading {
  background-image: url('../assets/images/loader-white.svg');
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

button.full-width {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  max-width: 300px;
}

.backplate {
  width: 100vw;
  height: calc(100vh - 50px);
  position: absolute;
  background: rgb(255,102,0);
  z-index: -100000;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
}


.wakeup {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 20px;
}

.wakeup > .deposit-container {
  background: rgb(102,0,255);
  background: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  background: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6600ff",endColorstr="#ffcc00",GradientType=1);
  margin-right: 18px;
  border-radius: 13px;
  border: 1px solid white;
  box-sizing: border-box;
  width: 72px;
  height: 66px;
  -moz-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
}

.wakeup > .deposit-container > .deposit {
  width: 72px;
  height: 66px;
  padding-bottom: 5px;
  margin: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(17deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(17deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 50%);
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: black;
}

.wakeup > .deposit-container > .deposit > h1 {
  font-size: 32px;
  font-family: 'Urbanist', sans-serif;
  line-height: 32px;
  margin: 0px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
}

.wakeup > .deposit-container > .deposit > h1 > .dollar-sign {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(255,255,255,0.6);
  margin-right: 0px;
  vertical-align: text-top;
  line-height: 32px;
  margin-right: 2px;
}

.wakeup > .info {
  height: 72px;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  margin-top: -6px;
}

.wakeup > .info > * {
  margin: 0px;
  white-space: nowrap;
}

.wakeup > .info > p > b {
  font-weight: 700;
  border-bottom: 3px solid #dfe3e7;
  padding-bottom: 0px;
  border-radius: 3px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  cursor: pointer;
}

.wakeup > .info > p > b.missed {
  color: black;
}

.wakeup > .info > p > b.canceled {
  color: rgba(0,0,0,0.4);
  background-image: none;
}

.wakeup > .info > h3 {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Urbanist', sans-serif;
  margin: 0px;
}

.wakeup > .info > h3 > .am {
  font-size: 20px;
  font-weight: 800;
  color: rgba(0,0,0,0.4);
  margin-left: 4px;
}

.wakeup > .info > h3 > .colon {
  font-weight: 800;
  font-size: 36px;
  margin: 0px 4px;
  vertical-align: text-top;
}

.wakeup > .info > p {
  max-width: 200px;
}

.wakeup > .cancel {
  height: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  width: 0px;
}

.wakeup > .cancel > img {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity linear 0.1s;
  -webkit-transition: opacity linear 0.1s;
}

.wakeup > .cancel > img:not(.verified):active {
  opacity: 0.8;
}

.wakeup > .cancel > img.verified {
  opacity: 1;
  cursor: default;
}

.wakeup > .cancel > img.missed {
  opacity: 1;
  cursor: default;
}

button:disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.wakeup > .info > p > b.__twox-mode {
  background-image: -moz-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
}

.wakeup > .deposit-container.__twox-mode {
  background: rgb(0,179,255);
  background: -moz-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b3ff",endColorstr="#00ff00",GradientType=1);
}

button.gradient.__twox-mode {
  background: rgb(0,179,255);
  background: -moz-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b3ff",endColorstr="#00ff00",GradientType=1);
}

.footer-container.__twox-mode {
  background: rgb(0,179,255);
  background: -moz-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b3ff",endColorstr="#00ff00",GradientType=1);
}

a.gradient.__twox-mode {
  background-image: -moz-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
}

.twoX {
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 18px rgba(0,0,0,0.1);
  background-image: -moz-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 50%, rgba(199,255,0,1) 100%);
}
