.content {
  min-height: 83vh;
  box-sizing: border-box;
  padding-bottom: 0px;
  justify-content: space-between;
}

.splash {
  padding-bottom: 0px;
}

h3 > a {
  font-weight: 600;
  border-bottom: 3px solid #dfe3e7;
  padding-bottom: 0px;
  border-radius: 3px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  border-bottom: 3px solid #dfe3e7;
  padding: 16px;
  padding-left: 0px;
  background: transparent;
  box-sizing: border-box;
  width: 300px;
  color: black;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  margin-top: 16px;
}

input::placeholder {
  color: #dfe3e7;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: normal;
}

input[type=password] {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 8px;
}

input[name=username] {
  padding-left: 48px;
  box-sizing: border-box;
  width: 300px;
  background: url('../assets/images/us-flag.png') no-repeat left;
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat;
  image-orientation: none;
}

input[invalid=true] {
  border-color: red;
}

p.small {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 14px;
  color: rgba(0,0,0,0.4);
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  width: 300px;
  text-align: center;
}
