#__modal-backdrop {
  position: fixed;
  background: rgb(0,0,0,0.8);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 80%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 80%);
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  display: none;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: none;
  transition: opacity ease 0.6s;
  -webkit-transition: opacity ease 0.6s;
}

#__modal-backdrop.on {
  display: block;
  opacity: 0;
}

#__modal-backdrop.on.visible {
  opacity: 0.93;
}

#__modal-container {
  position: fixed;
  width: 100vw;
  background: white;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  box-sizing: border-box;
  box-shadow: 0px 0px 44px rgba(0,0,0,0.06);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 36px 0px;
  bottom: calc(-70vh - 1px);
  max-height: 75vh;
  transition: bottom ease 0.5s, top ease 0.5s;
  -webkit-transition: bottom ease 0.5s, top ease 0.5s;
}

#__modal-container.visible {
  bottom: 0px;
}

#__modal {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  box-sizing: border-box;
  overflow-y: scroll;
}

#__modal > h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  font-weight: 700;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 12px;
}

#__modal > p {
  color: rgba(0,0,0,0.6);
  font-weight: 400;
  font-size: 16px;
}

#__modal > p > a.gradient {
  font-weight: 600;
  border-bottom: 3px solid #dfe3e7;
  padding-bottom: 0px;
  border-radius: 3px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  cursor: pointer;
  text-decoration: none;
}

#__modal > .button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  box-sizing: border-box;
}

#__modal > div.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
}

#__modal > div.center > img {
  height: 72px;
  margin-top: -4px;
  margin-bottom: 20px;
}

#__modal > h3.center {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  text-align: center;
}

@supports not ( -moz-appearance:none ) {
  #__modal-backdrop {
    backdrop-filter: blur(20px) saturate(110%) !important;
    -webkit-backdrop-filter: blur(20px) saturate(110%) !important;
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 80%) !important;
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 80%) !important;
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 80%) !important;
    transition: opacity ease 0.5s;
    -webkit-transition: opacity ease 0.5s;
  }
  #__modal-backdrop.on.visible {
    opacity: 1 !important;
  }
}

#__modal-canvas {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1000;
  position: fixed;
}
