.header > a > button {
  background: rgba(255,255,255,0.3);
}

.header {
  top: 32px;
}

#blur-bottom {
  min-height: 109px;
}

#ticker {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  z-index: 999;
  background: rgba(0,0,0,0.4);
  box-sizing: border-box;
}

#ticker > p {
  color: white;
  font-weight: 300;
  white-space: nowrap;
  animation: ticker 16s infinite linear;
  font-size: 14px;
}

#ticker > p > span {
  margin: 0px 24px;
}

@keyframes ticker {
  100% {
    transform: translateX(-50%);
  }
}
