.content > h3 {
  margin-bottom: 8px;
}

.day-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  margin: 8px 0px;
  margin-bottom: 0px;
}

.day-container > .day {
  background: rgba(0,0,0,0.4);
  border-radius: 8px;
  height: 43px;
  width: 43px;
  margin: 0px 4px;
  box-sizing: border-box;
  overflow: show;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  padding: 4px 0px;
  cursor: pointer;
  transition: box-shadow linear 0.1s, opacity linear 0.1s;
  -webkit-transition: box-shadow linear 0.1s, opacity linear 0.1s;
  user-select: none;
  flex-grow: 1;
}
.day-container > .day:first-child {
  margin-left: 0px;
}
.day-container > .day:last-child {
  margin-right: 0px;
}
.day-container > .day:active {
  opacity: 0.8;
}

.day-container > .day > * {
  margin: 0px;
  text-align: center;
}

.day-container > .day > p {
  font-size: 12px;
  line-height: 12px;
  height: 12px;
  text-transform: uppercase;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  color: rgba(255,255,255,0.6);
}
.day-container > .day > p:last-child {
  margin-top: 9px;
  color: rgba(0,0,0,0.4);
  font-weight: 800;
  text-transform: capitalize;
  font-size: 13px;
  transition: color ease 0.1s;
  -webkit-transition: color ease 0.1s;
}

.day-container > .day > h3 {
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.day-container > .day.selected {
  background: rgb(102,0,255);
  background: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  background: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6600ff",endColorstr="#ffcc00",GradientType=1);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

.day-container > .day.selected > p:last-child {
  color: rgba(0,0,0,1);
}

.day-container > .day.disabled {
  background: rgba(0,0,0,0.1);
  cursor: default;
}

.day-container > .day.disabled > p:last-child {
  color: transparent;
  display: none;
}

p.subtitle {
  font-family: 'Urbanist', sans-serif;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  text-align: left;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
}

.deposit-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  box-sizing: border-box;
  margin: 4px 0px;
}

.deposit-container > h1 {
  font-family: 'Urbanist';
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 0px;
  width: 200px;
  height: 70px;
  text-align: right;
  margin-right: -2px;
  margin-top: -20px;
  white-space: nowrap;
}

#deposit-amount {
  font-family: 'Urbanist';
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 0px;
  height: 70px;
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  background: transparent;
  outline: none;
  border: none;
  padding: 0px !important;
  width: 10px;
  margin-left: -4px;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: border-color linear 0.1s;
  -webkit-transition: border-color linear 0.1s;
}

#deposit-amount:focus {
  border-color: #dfe3e7;
}

#deposit-notice {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  margin: 0px;
  color: rgba(0,0,0,1);
  font-size: 14px;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
  margin-bottom: -2px;
  text-align: center;
  display: none;
}

#deposit-notice.visible {
  display: block;
}

.wakeup-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 8px;
}

.wakeup-container > p {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  margin: 0px;
  color: rgba(0,0,0,1);
  font-size: 14px;
  font-weight: 600;
  font-family: "Urbanist", sans-serif;
  text-align: center;
  margin: 0px;
}

#select-mornings {
  margin-bottom: 8px;
}

#payment-information {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  font-family: "Urbanist", sans-serif;
  box-sizing: border-box;
  margin-top: 8px;
}

.minute-input, .hour-input {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Urbanist', sans-serif;
  margin: 0px;
  height: 40px;
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  background: transparent;
  outline: none;
  border: none;
  padding: 0px !important;
  width: 24px;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: border-color linear 0.1s;
  -webkit-transition: border-color linear 0.1s;
}

.minute-input::placeholder, .hour-input::placeholder {
  color: #dfe3e7;
}

.minute-input {
  width: 48px;
  text-align: left;
}

.minute-input:focus, .hour-input:focus {
  border-color: #dfe3e7;
}
