.content > p {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  margin: 0px;
}

p.stat {
  text-align: center;
}

.between {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
}

.stats-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 16px;
}

.stats-container > .stat {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0px 8px;
  border-radius: 11px;
  padding: 16px;
  background: rgba(255,255,255,0.6);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 112px;
}

.stats-container > .stat:first-child {
  margin-left: 0px;
}

.stats-container > .stat:last-child {
  margin-right: 0px;
}

.stats-container > .stat > h1 {
  margin: 0px;
  font-family: 'Urbanist';
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 12px;
  white-space: nowrap;
}

.stats-container > .stat > h1 > span.small {
  font-family: 'Urbanist', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 20px;
  vertical-align: super;
  margin-left: 0px;
  margin-right: 0px;
}

#account-earned-cents {
  margin-left: -8px;
}

.stats-container > .stat > h1 > span.dollar-sign {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 20px;
  vertical-align: super;
  margin-right: -8px;
}

.stats-container > .stat > p {
  margin: 0px;
}

.events-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
}

.events-container > p:not(#transfer-empty) {
  margin: 2px 0px;
  color: rgba(0,0,0,0.4);
  font-size: 14px;
}

.wakeup {
  margin-bottom: 12px;
}

.wakeup-divider {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  background: #dfe3e7;
  height: 3px;
  border-radius: 1.5px;
  margin: 20px 0px;
}

#awards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 12px;
}

a.gradient {
  font-weight: 600;
  border-bottom: 3px solid #dfe3e7;
  padding-bottom: 0px;
  border-radius: 3px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  background-image: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);
  cursor: pointer;
}

p.subtitle {
  font-family: 'Urbanist', sans-serif;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  text-align: left;
  margin-top: 8px;
}

#award-icon {
  width: 32px;
  height: 32px;
  margin: 0px 8px;
  transform: translateY(0px);
  cursor: pointer;
}

#award-icon:first-child {
  margin-left: 0px;
}

#award-icon:last-child {
  margin-right: 0px;
}

#account-id, .transfer-id {
  font-size: 9px;
  font-family: monospace;
  padding: 4px 6px;
  border-radius: 4px;
  vertical-align: middle;
  background: rgba(0,0,0,0.06);
  cursor: pointer;
  color: black;
  white-space: nowrap;
}

#wakeup-container {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 16px;
}

input {
  border: none;
  outline: none;
  border-bottom: 3px solid #dfe3e7;
  padding: 16px;
  padding-left: 0px;
  background: transparent;
  box-sizing: border-box;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  color: black;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  margin-bottom: 8px;
}

input::placeholder {
  color: #dfe3e7;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: normal;
}

#logout {
  margin-bottom: 16px;
}

#rewards-soon {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  margin-bottom: 16px;
  text-align: center;
  opacity: 1;
}

#transfer-container {
  margin-bottom: 20px;
}

#transfer-empty {
  margin: 0px;
}

.transfer-event {
  margin-bottom: 8px !important;
}

.transfer-status {
  font-size: 14px;
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 4px;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
  color: black;
  white-space: nowrap;
}
