.logo > h1 > span {
  font-weight: 300;
}

.content > h3 {
  margin-bottom: 8px;
}

p.subtitle {
  font-family: 'Urbanist', sans-serif;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
  font-size: 14px;
  margin: 8px 0px;
  text-align: left;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
}

.transfer-container, .destination-container {
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  box-sizing: border-box;
  margin: 4px 0px;
}

.transfer-container > h1 {
  font-family: 'Urbanist';
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 0px;
  box-sizing: border-box;
  height: 70px;
  text-align: right;
  margin-right: -2px;
  margin-top: -20px;
  white-space: nowrap;
}

.transfer-container > p.subtitle {
  margin-top: 0px;
}

#transfer-amount {
  font-family: 'Urbanist';
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 0px;
  height: 72px;
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  background: transparent;
  outline: none;
  border: none;
  padding: 0px !important;
  width: 10px;
  margin-left: -4px;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: border-color linear 0.1s;
  -webkit-transition: border-color linear 0.1s;
}

#transfer-amount:focus {
  border-color: rgba(0,0,0,0.2);
}

.destination-container > .option:first-child {
  margin-left: 0px;
}
.destination-container > .option:last-child {
  margin-right: 0px;
}

.destination-container > .option {
  flex-grow: 1;
  margin: 0px 8px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(0,0,0,0.4);
  border-radius: 11px;
  color: white;
  height: 100px;
  cursor: pointer;
  transition: box-shadow linear 0.1s, opacity linear 0.1s;
  -webkit-transition: box-shadow linear 0.1s, opacity linear 0.1s;
}

.destination-container > .option.selected {
  background: rgb(102,0,255);
  background: -moz-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  background: linear-gradient(340deg, rgba(102,0,255,1) 0%, rgba(255,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6600ff",endColorstr="#ffcc00",GradientType=1);
  -moz-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
  box-shadow: inset 0 0 8px rgba(255,255,255,0.3);
}

.destination-container > .option > * {
  user-select: none;
  -webkit-user-select: none;
}

.destination-container > .option > p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
  font-size: 15px;
  text-align: center;
  margin: 0px;
}

.destination-container > .option > h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  margin-top: -8px;
  margin-bottom: 4px;
}

.destination-container > .option > h3 > img {
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -3px;
}

#venmo-logo {
  height: 18px;
  margin-bottom: 10px;
}

input:not([type=range]) {
  border: none;
  outline: none;
  border-bottom: 3px solid #dfe3e7;
  padding: 16px;
  padding-left: 0px;
  background: transparent;
  box-sizing: border-box;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  color: black;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 8px;
}

input:not([type=range])::placeholder {
  color: #dfe3e7;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: normal;
}

input[type=password] {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 8px;
}

input[name=phone] {
  padding-left: 48px;
  box-sizing: border-box;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  background: url('../assets/images/us-flag.png') no-repeat left;
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat;
  image-orientation: none;
}

input[invalid=true], select[invalid=true] {
  border-color: red;
}

p.notice {
  font-size: 14px;
  margin: 0px;
  margin-top: 20px;
}

.destination-container > .option.selected.__twox-mode {
  background: rgb(0,179,255);
  background: -moz-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: -webkit-linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  background: linear-gradient(340deg, rgba(0,179,255,1) 0%, rgba(0,255,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b3ff",endColorstr="#00ff00",GradientType=1);
}

.__venmo.hidden, .__bank.hidden {
  display: none;
}

select {
  border: none;
  outline: none;
  border-bottom: 3px solid #dfe3e7;
  padding: 16px;
  padding-left: 0px;
  background: transparent;
  box-sizing: border-box;
  width: min(calc(60vw + 75px), calc(60vh + 150px));
  color: black;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 8px;
}

select[data-chosen=""] {
  color: #dfe3e7;
}
