html, body {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: black;
}

.header {
  background: transparent;
}

.logo > h1 > span {
  font-weight: 300;
}

.logo {
  color: white;
}

#gradient-top, #gradient-bottom {
  width: 100vw;
  height: 20vh;
  background: rgb(0,0,0,0);
  z-index: -2;
  position: fixed;
  left: 0px;
}

#gradient-top {
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  top: 0px;
}

#gradient-bottom {
  background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  bottom: 0px;
}

#stream-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  z-index: -3;
}

#stream {
  object-fit: cover;
  height: 100vh;
  flex-grow: 1;
}

#capture-button {
  z-index: 1000;
  position: fixed;
  width: 72px;
  height: 72px;
  box-sizing: border-box;
  font-size: 0px;
  padding: 0px;
  bottom: 42px;
  left: calc(50vw - 36px);
  background-color: rgba(0,0,0,0.2);
  border-radius: 100%;
  outline: none;
  border: 8px solid white;
  transition: background-color ease 0.1s, border-color ease 0.1s, border-width ease 0.1s;
  -webkit-transition: background-color ease 0.1s, border-color ease 0.1s, border-width ease 0.1s;
}

#capture-button:active {
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.8);
  border-width: 16px;
}

#focus {
  box-sizing: border-box;
  position: fixed;
  max-width: 300px;
  max-height: 300px;
  z-index: -1;
  bottom: calc(50vh - 150px);
  left: calc(50vw - 150px);
  opacity: 0.4;
}

video {
  pointer-events: none;
}
video::-webkit-media-controls {
  display: none;
}
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-volume-slider {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display {}
